#container {
  text-align: center;
  background-color: --ion-color-primary-contrast;
  height: 100%;
  padding: 1.5em;
}

#container strong {
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.cardConn{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  .imgConn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:url('../../assets/img1.png');   
    height: 80%;
    .Icons{
      padding-left: 5px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 100%;
      align-self: flex-start;
      padding-bottom: 5px;
      p{
        font-size: 12px;
        align-self: center;
        color: #ffffff !important;
        text-align: center;
        padding-left: 5px;
      }
      ion-icon{
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
        align-self: center;
      }
    }  
  }
}
ion-card{
  width: 100%;
  height: 15em !important;
}
.profile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  margin-bottom: 1em;
  margin-top: 1em;
  .left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .main{
      color: black !important;
    }
    .profileImg{
      align-self: center;
      height: 3em;
      width: 3em;
      border-radius: 50px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .name{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 5px;
    }

  }
  .right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    ion-icon{
      margin-right: 8px;
      color: black;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
.dontWantTo{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      .hdd{
        font-size: 18px;
        color: black !important;
        font-weight: bold;
        margin-bottom: 1em;
      }
    }
    .right{
      img{
        width: 100%;
        height: 100%;

      }
    }
    .btn{
      color: #30abd6;
    }
  }
}
.article{
  .headding{
    display: flex;
    justify-content: space-around;
    p{
      align-self: center;
      color: #6480e4 !important;
    }
    h4{
      align-self: center;
    }
  }
  .scroll{
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    ion-card{
      display: inline-block;
      width: 80%;
    }
  }
}